filebeat.inputs:
- type: log
  enabled: false
  paths:
    - /var/log/auth.log

filebeat.modules:
  - module: system
    syslog:
      enabled: true
    auth:
      enabled: true

filebeat.config.modules:
  path: ${path.config}/modules.d/*.yml
  reload.enabled: true

setup.dashboards.enabled: true

setup.template.name: "filebeat"
setup.template.pattern: "filebeat-*"
setup.template.settings:
  index.number_of_shards: 1

processors:
  - add_host_metadata:
      when.not.contains.tags: forwarded
  - add_cloud_metadata: ~

output.elasticsearch:
    hosts: ["{{ elk_dest }}:9200"]
    index: "filebeat-%{[agent.version]}-%{+yyyy.MM.dd}"

{% if inventory_hostname in groups.elk -%}
setup.kibana.host: "localhost:5601"
{% else -%}
setup.kibana.host: "kandula-elk-elasticsearch.service.consul:5601"
{% endif -%}