DATA_SOURCE_NAME="postgresql://{{username}}:{{db_admin_password}}@{{db_host}}:{{db_port}}/postgres?sslmode=disable"
PG_EXPORTER_EXCLUDE_DATABASES=rdsadmin
PG_EXPORTER_DISABLE_DEFAULT_METRICS=true
PG_EXPORTER_DISABLE_SETTINGS_METRICS=true
PG_EXPORTER_EXTEND_QUERY_PATH='/opt/postgres_exporter/queries.yaml'