{
  "advertise_addr": "{{ansible_default_ipv4.address|default(ansible_all_ipv4_addresses[0])}}",
  "data_dir": "/opt/consul",
  "datacenter": "{{dc_name}}",
  "encrypt": "uDBV4e+LbFW3019YKPxIrg==",
  "disable_remote_exec": true,
  "disable_update_check": true,
  "leave_on_terminate": true,
  "retry_join": ["provider=aws tag_key=consul_server tag_value=true"],
  {% if inventory_hostname in groups.consul_server -%}
  "server": true,
  "bootstrap_expect": 3,
  "ui": true,
  "client_addr": "0.0.0.0",
  "telemetry": {
	"prometheus_retention_time": "10m"
  },
  {% else -%}
  "enable_script_checks": true,
  "server": false,
  {% endif -%}
  "node_name": "{{inventory_hostname}}"

}
