#Create a pod and expose port 5000
apiVersion: v1
kind: Secret
metadata:
  name: kandula-secret
type: Opaque
data:
  AWS_ACCESS_KEY_ID : ${AWS_KEY}
  AWS_SECRET_ACCESS_KEY : ${AWS_SECRET}
  DB_USER: ${db_user}
  DB_PASS: ${db_pass}
  DB_NAME: ${db_name}